<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Dating App</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active"></a>
          </li>
        </ul>
        <button
          class="btn btn-outline-dark"
          routerLink="/login"
          *ngIf="hasRoute('/signup')"
        >
          Log In
        </button>
        <button class="btn btn-outline-dark" (click)="logout()" *ngIf="flag">
          Log Out
        </button>
      </div>
    </div>
  </nav>
</div>
